@tailwind base;
@tailwind components;
@tailwind utilities;

#link1{
 
  color: aqua;
  font-size: xx-large;
}
#link2{
  color: red;
  font-size: xx-large;
}
body{
  background-color: purple;
}
#home{
  color: blue;
}
#textdoc{
  color: red;

}
#data{
  color: brown;
}